<div class="d-flex flex-column gap-1 px-4">
  <div class="row mt-1">
    <button type="button" class="btn btn-danger col" (click)="onClean()">
      Очистить оборудование
    </button>
  </div>
  <div class="row mt-1">
    <button type="button" class="btn btn-dark col" (click)="fileInput.click()">
      Прикрепить код программы
    </button>
    <p class="col">
      Выбранный файл: <br />
      >><span> {{ selectedFile?.name }}</span>
    </p>
  </div>
  <div class="row d-flex justify-content-center gap-1">
    <button
      [disabled]="!selectedFile"
      type="button"
      class="btn btn-secondary col"
      (click)="onUploadFile()"
    >
      Прошить оборудование выбранным файлом
    </button>
  </div>
  <div class="row mt-1">
    <button
      [disabled]="!canReset"
      type="button"
      class="ml-2 btn btn-secondary col"
      (click)="onReset()"
    >
      Перепрошить оборудование уже загруженным файлом
    </button>
    <p class="col">
      Последний уже загруженный файл: <br />
      >>{{ lastLoadedFile?.name }}
    </p>
  </div>
</div>
<input
  style="display: none"
  #fileInput
  type="file"
  [formControl]="fileControl"
  accept=".hex,.sof,.bin"
/>
