<div>
    <table class="table">
      <caption><b>Сеансы на которые вы записаны</b></caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Начало</th>
            <th scope="col">Конец</th>
            <th scope="col">Кому назначено</th>
            <th scope="col">Кто создал</th>
          </tr>
        </thead>
        <tbody class="highlight_tr_hover">
          <tr *ngFor='let session of sessions; let i = index'>
            <th scope="row">{{i}}</th>
            <td>{{session.begin | date:'dd.MM.YYYY HH:mm'}}</td>
            <td> {{session.end | date:'dd.MM.YYYY HH:mm'}}</td>
                <td> {{session.user?.first_name}} {{session.user?.last_name}}
                 {{session.user?.patronymic}}</td>
                 <td> {{session.creator?.first_name}} {{session.creator?.last_name}}
                    {{session.creator?.patronymic}}</td>
          </tr>
        </tbody>
      </table>
</div>