<div [formGroup]="form">
  <div class="d-flex flex-wrap justify-content-around mt-3" formArrayName="switches">
    <div *ngFor='let switch of switches.controls; let i = index' class="text-center">
      <div style="height: 50px;">
      <label class="switch d-block mt-3">
        <input type="checkbox" (change)='sendCommand($event,i)' [formControlName]="i">
        <span class="slider round"></span>
      </label>
      </div>
      <div>
        <ng-container *ngTemplateOutlet="name"></ng-container>{{numberOfSwitches-1-i}}
      </div>
    </div>
  </div>
</div>
