<div class="container">
  <div class="text-right">
    <button class="btn btn-danger" (click)="exitSession()">Покинуть сессию</button>
  </div>
  <p *ngIf="timer">
    До окончания сессии осталось <span><strong>{{timer.time$ | async | timer}}</strong></span>
  </p>
  <app-try-connect-to-session *ngIf="session" [sessionId]="session.id" (onConnected)="onConnected()">
  </app-try-connect-to-session>
  <app-equipment *ngIf="isConnectedToSession" [session]="session!"></app-equipment>
  <div class="row">
    <section class="col">
      <h2>Информация о времени</h2>
      <p>
        Начало сеанса в: {{session?.begin | date:'HH:mm dd:MM:YYYY'}} <br />
        Конец сеанса в: {{session?.end | date:'HH:mm dd:MM:YYYY'}} <br />
      </p>
    </section>
    <section class="col mt-2">
      <h2>Информация о пользователе:</h2>
      <p>
        {{session?.user?.first_name}}
        {{session?.user?.last_name}}
        {{session?.user?.patronymic}}
      </p>
    </section>
  </div>
</div>
