.button-equpment {
  background-color: #4f524f; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 50%;
}

.button:active:hover, .button-active {
  background-color: #1e201e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button {
  user-select: none;
  margin: 0 5px;
}

.small-negative-padding {
  padding: 0 -5px;
}
