<button class="btn btn-primary" (click)="createNewSession()">Создать новую сессию</button>
<div>
        <table class="table">
            <caption><b>Назначенные вами сессии</b></caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Начало</th>
                <th scope="col">Конец</th>
                <th scope="col">Кому назначено</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let session of sessions; let i = index' (dblclick)="editSession(session)">
                <th scope="row">{{i}}</th>
                <td>{{session.begin | date:'dd.MM.YYYY HH:mm'}}</td>
                <td> {{session.end | date:'dd.MM.YYYY HH:mm'}}</td>
                    <td> {{session.user?.first_name}} {{session.user?.last_name}}
                     {{session.user?.patronymic}}</td>
              </tr>
            </tbody>
          </table>
    </div>