<button class="btn btn-primary" (click)="createNewSession()">Создать новую сессию</button>
<div>
        <table class="table">
            <caption><b>Назначенные вами сессии</b></caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Начало</th>
                <th scope="col">Конец</th>
                <th scope="col">Кому назначено</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="highlight_tr_hover">
              <tr *ngFor='let session of sessions; let i = index' (click)="editSession(session)">
                <th scope="row">{{i+1}}</th>
                <td>{{session.begin | date:'dd.MM.YYYY HH:mm'}}</td>
                <td> {{session.end | date:'dd.MM.YYYY HH:mm'}}</td>
                    <td> {{session.user?.first_name}} {{session.user?.last_name}}
                     {{session.user?.patronymic}}</td>
                     <td> <button class="btn btn-secondary" (click)="deleteSession($event, session)">Удалить</button></td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
          <ngb-pagination class="d-inline-block" [pageSize]="15" [(page)]="selectedPage" (pageChange)="onChangePage()" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>