<form class="col" [formGroup]=bookingForm novalidate (ngSubmit)="submit()">
  <app-range-date-picker [(begin)]="begin" [(end)]="end"></app-range-date-picker>
  <div class="form-group col-6">
    <label for="equipment">Оборудование</label>
    <select class="form-control" id="equipment" name='equipment' formControlName="equipment">
      <option *ngFor="let equipment of equipments; let i = index" [value]='i'>
        {{equipment.name}}
      </option>
    </select>
  </div>
  <div class="form-group col-6">
    <label for="session_duration">Длительность сессии</label>
    <input type="number" class="form-control" id="session_duration" name='session_duration'
      formControlName="session_duration" />
  </div>
  <div class="form-group col-6">
    <label for="max_session_duration_per_day">Максимальная длительность сессий в день</label>
    <input type="number" class="form-control" id="max_session_duration_per_day" name='max_session_duration_per_day'
      formControlName="max_session_duration_per_day" />
  </div>
  <div class="text-center mt-2">
    <button class="btn btn-primary" type='submit' [disabled]="isBookingInvalid()">
      {{acceptButtonText}}
    </button>
  </div>
</form>
