<div class="container">
    <section>
        <h2>Данная сессия еще не началась</h2>
        <p>
            Когда сессия начнется вы будете перенаправлены на неё автоматически <br>
            До начала сессии осталось <span *ngIf="timer">{{timer.time$| async | timer}}</span>
            <br />
        </p>
    </section>
    <section>
        <h2>Информация о времени</h2>
        <p>
            Начало сеанса в: {{session?.begin | date:'HH:mm dd:MM:YYYY'}} <br />
            Конец сеанса в: {{session?.end | date:'HH:mm dd:MM:YYYY'}} <br />
        </p>
    </section>
    <section>
        <h2>Информация об оборудовании:</h2>
        <p>{{session?.equipment?.name}}</p>
    </section>
    <section>
        <h2>Информация о пользователе:</h2>
        <p>
            {{session?.user?.first_name}}
            {{session?.user?.last_name}}
        </p>
    </section>
    <div class="text-center">
        <button class="btn btn-primary" (click)="exitSession()">Выйти</button>
    </div>
</div>