<div class="container" [styleDialog]="style">
  <div class="modal-header ">
    <h2 *ngIf="header" class="modal-title text-center">{{ header }}</h2>
  </div>
  <div class="modal-body">
    <div class="alert" [ngClass]="style" role="alert">
      <p *ngIf="text">{{ text }}</p>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button class="btn accept" *ngIf="acceptButtonText" (click)="onAcceptClick()">
      {{ acceptButtonText }}
    </button>
    <button class="btn btn-secondary" *ngIf="denyButtonText" (click)="onDenyClick()">
      {{ denyButtonText }}
    </button>
  </div>
</div>
