header{
    background-color: #535c69;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.logo{
    width:50px;
    height:50px;
}


.header__section{
    display: flex;
    align-items: center;
}

.header__item{
    padding: 10px 15px;
    margin-left: 5px;
}

nav {
    li {
    display:inline;
    }
    a:link    {
        color: white;
        text-decoration:none;
    }
    a:hover   {
        color:rgb(182, 166, 166); 
        text-decoration:none;
    }
    // a:active  {color:rgb(121, 121, 104); text-decoration:none}
}

.active {
    color:rgb(126, 92, 238);
    text-decoration:underline;
}