.console {
  overflow: auto;
  height: calc(560px * 0.52);
  li {
    list-style-type: none; /* Убираем маркеры у списка */
  }
  li:before {
    content: ">>"; /* Добавляем в качестве маркера символ */
  }
}

@media (max-width: 576px) {
  .console {
    height: calc(300px * 0.52);
  }
}

h2 {
  color: white;
}
