<nav responsive class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo_sfu.png" width="30" height="30" alt="">
  </a>
  <button id='navbar-toggler' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li *ngIf="isTeacher()" class="nav-item">
        <a class="nav-link" routerLink="/main-page/manage-sessions" routerLinkActive="active">Управление сессиями</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/main-page/my-sessions" routerLinkActive="active">Мои сессии</a>
      </li>
      <li *ngIf="isTeacher()" class="nav-item">
        <a class="nav-link" routerLink="/main-page/find-sessions" routerLinkActive="active">Подключиться к сессии</a>
      </li>
      <li *ngIf="isTeacher()" class="nav-item">
        <a class="nav-link" routerLink="/main-page/managing-subgroups" routerLinkActive="active">Управление
          подгруппами</a>
      </li>
      <li *ngIf="!isTeacher()" class="nav-item">
        <a class="nav-link" routerLink="/main-page/my-subgroups" routerLinkActive="active">Мои подгруппы</a>
      </li>
    </ul>
    <div *ngIf='currentUser' class="my-2 my-lg-0">
      <div class="navbar-text text-white">
        {{currentUser?.first_name}}
        {{currentUser?.last_name}}
        {{currentUser?.patronymic}}
      </div>
      <div class="navbar-text ">
        <button type="button" class="btn" (click)="openLogout()"> <img src="../../assets/logout.png"
            alt="Выйти"></button>
      </div>
    </div>
  </div>
</nav>
