<div class="container">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Создание подгруппы</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <form class="col" [formGroup]=subgroupForm novalidate (ngSubmit)="submit()">
    <div class="form-group col-6">
      <label for="name">Название группы</label>
      <input class="form-control" id="name" name='name' formControlName="name" />
    </div>
    <div>
      <label for="">Состав подгруппы:</label>
      <ol class="pl-3 pr-3 list-group list-group-numbered">
        <li *ngFor="let user of users; let i = index"
          class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{getFioByUser(user)}}</div>
            {{user.email}}
          </div>
          <button class="btn btn-light" (click)="deleteUser(user)">❌</button>
        </li>
      </ol>
      <div [hidden]="users.length != 0" class="alert alert-warning">
        Состав подгруппы пуст
      </div>
    </div>
    <app-add-user (onAddUser)="onAddUser($event)"></app-add-user>
    <div class="text-center mt-2 row">
      <button class="btn btn-primary col" type='submit' [disabled]="isNewSessionInvalid()">
        Создать подгруппу
      </button>
      <button class="btn btn-secondary col" type='button'>
        Отмена
      </button>
    </div>
  </form>
</div>
