.button-equpment {
    background-color: #4f524f; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 50%;
}

.buttonstk:active:hover {
    background-color: #1e201e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.console{
    overflow: auto;
    height: 10em;
    li {
        list-style-type: none; /* Убираем маркеры у списка */
       }
    li:before {
        content: ">>"; /* Добавляем в качестве маркера символ */
    }
}

.label-range {
    width: 0%;
}