<h2 class="text-center">STK500</h2>
<app-video [stream_url]="equipment?.stream_url"></app-video>
<app-buttons [numberOfButtons]="8" (onButtonAction)="onButtonAction($event)">
    <ng-template #name>SW</ng-template>
</app-buttons>
<app-resistor [resistorManagment]='resistorManagment' (onResistorAction)="onResistorAction($event)">
</app-resistor>
<app-console [onLog$]="onLog$"></app-console>
<app-file-actions (onButtonClean)="onClean()" (onButtonReset)="onReset()" (onButtonUpload)="onUploadFile($event)"
    [canReset$]="canReset$"></app-file-actions>