<div>
    <h2 class="text-center">STK500</h2>
    <input style="display: none" #fileInput type="file" (change)="onFileSelected($event)" accept=".hex">
    <div class="console card text-white bg-dark mb-3">
        <ul>
            <li>dsafas</li>
            <li>dsafas</li>
            <li>dsafas</li>
            <li>dsafas</li>
        </ul>
    </div>
    <button type="button" class="btn btn-dark" (click)="fileInput.click()">Прикрепить код программы</button>
    <p>Выбранный файл: {{selectedFile?.name}}</p>
    <div>
        <button *ngIf='selectedFile' type="button" class="btn btn-secondary" (click)="onUploadFile()">Прошить
            оборудование выбранным файлом</button>
        <button type="button" class="ml-2 btn btn-danger" (click)="onReset()">Reset</button>
    </div>
    <div class="d-flex justify-content-around mt-3">
        <button class="buttonstk" *ngFor='let button of buttons; let i = index'
            (mousedown)="onButtonClick(7-i)" (mouseup)="onButtonClick(7-i)">SW{{7-i}}</button>
    </div>
    <div class="form-group  w-100">
        <label for="range">Ползунок</label> <br>
        32<input class="w-75" type="range" step="1" min="32" max="4095" value="32" name="range"
            [formControl]="rangeControl" />4095
        <p>Значение: {{rangeControl.value}}</p>
    </div>
    <div>