<form [formGroup]=sessionDateForm novalidate (ngSubmit)="submit()">
  <ngb-datepicker (dateSelect)="onSelectDate($event)" [minDate]="getToday()" [maxDate]='getMaxDay()'>
  </ngb-datepicker>
  <div class="form-group">
    <label for="time">Время начала сеанса</label>
    <ngb-timepicker id="time" name="time" formControlName="time"></ngb-timepicker>
  </div>
  <div class="form-group">
    <label for="duration">Длительность сеанса (в минутах)</label>
    <input class="form-control w-25" id="duration" name="duration" formControlName="duration" type="number" />
  </div>
  <div class="text-center">
    <div *ngIf='isBusyTimeInterval' class="alert alert-danger" role="alert">
      Выбранный вами промежуток времени пересекается с уже существующими сессиями. Пожалуйста укажите другое время
      начала или длительности сеанса.
    </div>
    <div *ngIf='isPast' class="alert alert-danger" role="alert">
      Нельзя назначать сеансы в прошлом
    </div>
    <button type="submit" class="btn btn-secondary"
      [disabled]="sessionDateForm.invalid || !selectedDate || !sessionDateForm.controls['time'].value">Выбрать
      время</button>
  </div>
</form>
<table *ngIf="selectedDate" class="table">
  <caption style="caption-side: top;"><b>Забронированные сеансы на {{selectedDate | date:'dd:MM:YYYY'}}</b></caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Начало</th>
      <th scope="col">Конец</th>
      <th scope="col">Кому назначено</th>
      <th scope="col">Кто создал</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let session of sessions; let i = index'>
      <th scope="row">{{i}}</th>
      <td>{{session.begin | date:'HH:mm'}}</td>
      <td> {{session.end | date:'HH:mm'}}</td>
      <td> {{session.user?.first_name}} {{session.user?.last_name}}
        {{session.user?.patronymic}}</td>
      <td> {{session.creator?.first_name}} {{session.creator?.last_name}}
        {{session.creator?.patronymic}}</td>
    </tr>
  </tbody>
</table>